@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:ital,wght@0,300;1,200&family=Yeseva+One&display=swap');

header {
  background-color: #99B5D6;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Yeseva One', cursive;
}

header img {
  width: 150px;
}

.heading h1 {
  font-size: 1.6rem;
  margin: 0 0 0 17px;
}

.heading {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-style: italic;
  letter-spacing: 1pt;
  color: #FFFF47;
  margin-left: 20px;
  font-size: .9rem;

}

/* The end of the header style*/

nav {
  margin: 0 auto;
  max-width: 100%;
  background-color: #004052;
  font-family: 'Montaga', serif;
}


.navigation {
  list-style: none;
  padding: 0;
  margin: 0%;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.90rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;

}

.navigation a:hover {
  color: black;
  background-color: #ffff;

}

/*The code for small gallery*/
main {
  display: grid;
  grid-template-columns: 1fr;
  margin: 30px;
  grid-gap: 20px;
  justify-content: center;
}

img {
  min-width: 50px;
  min-height: 200px;
  width: 100%;
}

main img:hover {
  box-shadow: 20px 20px 30px 15px #333;
}

img[data-src] {
  filter: blur(.1em);
}

img {
  filter: blur(0em);
  transition: filter 0.5s;
}

p {
  width: 300px;
  border: 1px solid #3333;
  border-collapse: collapse;
  padding-top: 0%;
  padding: 2px;
  padding-right: 0%;
  text-align: center;
}

body {
  background-color: #d3e2f1;
}

footer {
  color: white;
  text-align: center;
  background-color: #004052;
  width: 100%;
  height: 50%;
  padding: 0px;
}

@media only screen and (min-width: 32.5em) {

  header {
    height: 200px;
    margin: 0%;
  }

  header img {
    width: 200px;
  }

  .heading h1 {
    font-size: 3rem;
  }

  .subtitle {
    letter-spacing: 1.5pt;
    font-size: larger;
  }

  nav {
    max-width: 100%;

  }

  .navigation {
    display: flex;
    justify-content: center;
    margin: 0%;
  }

  button {
    display: none;
  }

  .navigation li {
    display: block;

  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  p {
    width: 700px;
    border: 1px solid #3333;
    border-collapse: collapse;
    padding-top: 0%;
    padding-right: 0%;
    text-align: center;

  }

  footer {
    color: white;
    text-align: center;
    background-color: #004052;
    width: 100%;
    height: 70%;
    padding: 4px;
  }


}


@media only screen and (min-width: 60em) {

  header {
    height: 200px;
    margin: 0%;
  }


  header img {
    width: 200px;
  }

  .heading h1 {
    font-size: 3rem;
  }

  .subtitle {
    letter-spacing: 1.5pt;
    font-size: larger;
  }

  .navigation {
    display: flex;
    justify-content: center;
    margin: 0%;
  }

  button {
    display: none;
  }

  .navigation li {
    display: block;

  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding-left: 70px;
    grid-gap: 10px;
  }


  main img {
    width: 300px;
    height: 300px;
  }

  main p {
    width: 300px;
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 0%;
    padding: 2px;
    padding-right: 0%;
    text-align: center;
  }

  footer {
    color: white;
    background-color: #004052;
    width: 100%;
    height: 150px;
  }

  footer p {
    text-align: center;
    justify-items: center;
  }

}