@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:ital,wght@0,300;1,200&family=Yeseva+One&display=swap');

/* This is the style for the header */
header {
  background-color: #99B5D6;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Yeseva One', cursive;
}

header img {
  width: 80px;
}

.heading h1 {
  font-size: 1.6rem;
  margin: 0 0 0 17px;
}

.heading {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-style: italic;
  letter-spacing: 1pt;
  color: #FFFF47;
  margin-left: 20px;
  font-size: .9rem;

}

/* The end of the header style*/

nav {
  margin: 0 auto;
  max-width: 100%;
  background-color: #004052;
  font-family: 'Montaga', serif;
}


.navigation {
  list-style: none;
  padding: 0;
  margin: 0%;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.90rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;

}

.navigation a:hover {
  color: black;
  background-color: #ffff;
}

form {
  display: block;
  padding-left: 10px;
  border: solid #004052;
  padding: 20px;
  font-size: 20px;
  margin: 20px;
}

.lab {
  display: block;
  padding-top: 1rem;
}

label {
  cursor: default;
  font-family: 'Montaga', serif;
}

input {
  display: block;
  background-color: #99B5D6;
  border-radius: 5px;
  height: 30px;
}



footer {
  color: white;
  text-align: center;
  align-items: center;
  background-color: #004052;
  margin-top: 10px;
  width: 100%;
  height: 70px;
  padding: 10px;
}

@media only screen and (min-width: 60rem) {

  header {
    height: 200px;
    margin: 0%;
  }


  header img {
    width: 200px;
    color: black;
  }

  .heading h1 {
    font-size: 3rem;
  }

  .subtitle {
    letter-spacing: 1.5pt;
    font-size: larger;
  }

  .navigation {
    display: flex;
    justify-content: center;
    margin: 0%;
  }

  button {
    display: none;
  }

  .navigation li {
    display: block;

  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }
}