@media only screen and (min-width: 60em) {

  header {
    height: 200px;
    margin: 0%;
    box-shadow: #333;

  }


  header img {
    width: 200px;
  }

  .heading h1 {
    font-size: 3rem;
  }

  .subtitle {
    letter-spacing: 1.5pt;
    font-size: larger;
    text-shadow: #333;

  }

  .navigation {
    display: flex;
    justify-content: center;
    margin: 0%;
  }

  button {
    display: none;
  }

  .navigation li {
    display: block;

  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  aside {
    display: none;
  }

  h2 {
    padding-left: 350px;
  }

  .summdiv {
    margin: 10px auto;
    position: relative;
    border: 1px;
    width: 960px;
    height: 400px;
  }

  main img {
    display: block;
    object-fit: cover;
    width: 960px;
    height: 400px;
  }

  .weathersummary {
    position: absolute;
    top: 50px;
    left: 50px;
    background: radial-gradient(#ffff47, lightyellow);
    border: 1px solid;
    padding: .5em;
    box-shadow: 0 0 30px #333;
    opacity: .9;
    font-size: 20px;
  }

  section p {
    margin: 0%;
    font-weight: 300;
  }

  /*The begining of the forecast code*/
  .content {
    margin: 10px auto;
    position: relative;
    background-color: #004052;
    width: 960px;
    height: 150px;
  }

  .content h2 {
    color: white;
    align-items: center;
    padding-top: 10px;
  }


  table {
    position: absolute;
    top: 60px;
    left: 340px;
  }

  table,
  th,
  td {
    background-color: white;
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
    color: black;
    font-weight: 500px;
  }

  td {
    background-color: #004052;
    font-size: 20px;
    text-align: center;
    color: white;
  }

  tr :first-child {
    background-color: white;
    color: black;
  }

  /* End of the table code*/


  .article {
    margin: 10px auto;
    position: relative;
    padding: 10px;
    background-color: #bbb;
    width: 960px;
    height: 300px;
  }



  .artimage {
    object-fit: cover;
    width: 400px;
    height: 200px;
    float: right;
  }


  footer {
    color: white;
    text-align: center;
    background-color: #004052;
    width: 100%;
    height: 500px;
    padding: 4px;
  }

  footer img {
    float: left;
    object-fit: cover;
    width: 400px;
    height: 300px;
    margin: 60px;
    padding-left: 50px;
  }

}