@media only screen and (min-width: 32.5em) {

  header {
    height: 200px;
    margin: 0%;
  }


  header img {
    max-width: 200px;
  }

  .heading h1 {
    font-size: 3rem;
  }

  .subtitle {
    letter-spacing: 1.5pt;
    font-size: larger;

  }

  .navigation {
    display: flex;
    justify-content: center;
    margin: 0%;
  }

  button {
    display: none;
  }

  .navigation li {
    display: block;

  }

  .navigation a {
    text-align: center;

  }

  .navigation li:first-child {
    display: none;
  }

  h2 {
    padding-left: 350px;
  }

  .content {
    max-width: 960px;
    display: block;
    margin: 10px auto;
    border: 1px dashed;
    padding: 15px;
    color: black;
    font-style: italic;
  }


  footer {
    color: white;
    text-align: center;
    background-color: #004052;
    max-width: 100%;
    height: 70px;
    padding: 4px;

  }
}